doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title}
    if server
      link( rel="stylesheet" href="./main.css")
  body 
    div(id="app")
      if server 
        | !{html}
    if server
      script.
        window.__STATE__ = JSON.parse(!{state})
      script(src="./bundle.js")