.red {
  color: green;
  text-shadow: 0px 0px 5px black;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  background-image: url(asset/angel.jpg);
}
.red span {
  color: red;
}
